.timeline{
  overflow-y: scroll;
  background-color: slategray;
  padding-bottom: 200px;
}
.active{
  opacity: 1 !important;
}
.vertical-timeline-element {
  opacity: 0.25;
}
.vertical-timeline {
  padding-bottom:200px !important;
}
.flexbox-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.leaflet-container{
  width: 250vw;
  height: 100vh;
}
