.timeline{
  overflow-y: scroll;
  background-color: #772E07;
  padding-bottom: 200px;
}
.active{
  opacity: 1 !important;
}

.timelineDate {
  font-size: medium;
}

.vertical-timeline-element {
  opacity: 0.25;
  
}

.vertical-timeline-element-title {
  text-align: center;
  color: #D3A34E;
  font-size:60px;
  font-family:serif;
  
}

.vertical-timeline {
  padding-bottom:400px !important;
  
}
.flexbox-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.leaflet-container{
  width: 220vw;
  height: 100vh;
}
